.input {
  /* border: none; */
  outline: none;
  padding: 10px 16px;
}

.danger {
  /* outline: none; */
  padding: 10px 16px;
  color: red;
  border-color: red;
}

.list {
width: unset;
height: unset;
margin-top: unset;
margin-right: unset;
display: table-row;
text-align: unset;
padding: 10px;
}

.columns { float: left; }
.halfs { width: 20%; }
.lasts { float: inline-end; width: auto; padding: 0px;}

.elper {
 display:flex;
 justify-content:space-around;
 align-self: center;
 /* padding-left: 50px; */
}

.muchless {
  width: 20%;
  display: flex;
  align-self: center;
}

.countries {
  width: 25%
}

 .create {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-left: 60px;
  width: 70%;
}